@using StudioX.Authorization.Users
@using StudioX.Boilerplate.Web.Startup

<div class="modal fade" id="UserCreateModal" tabindex="-1" role="dialog" aria-labelledby="UserCreateModalLabel" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>@L("CreateNewUser")</span>
                </h4>
            </div>
            <div class="modal-body">
                <form name="userCreateForm" role="form" novalidate class="form-validation">
                    <ul class="nav nav-tabs tab-nav-right" role="tablist">
                        <li role="presentation" class="active"><a href="#create-user-details" data-toggle="tab">User Details</a></li>
                        <li role="presentation"><a href="#create-user-roles" data-toggle="tab">User Roles</a></li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane animated fadeIn active" id="create-user-details">
                            <div class="row clearfix" style="margin-top:10px;">
                                <div class="col-sm-12">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <input class="form-control" type="text" name="UserName" required maxlength="@StudioXUserBase.MaxUserNameLength" minlength="2">
                                            <label class="form-label">@L("UserName")</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-6">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <input type="text" name="FirstName" class="form-control" required maxlength="@StudioXUserBase.MaxFirstNameLength">
                                            <label class="form-label">@L("FirstName")</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <input type="text" name="LastName" class="form-control" required maxlength="@StudioXUserBase.MaxLastNameLength">
                                            <label class="form-label">@L("LastName")</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-12">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <input type="email" name="EmailAddress" class="form-control" required maxlength="@StudioXUserBase.MaxEmailAddressLength">
                                            <label class="form-label">@L("EmailAddress")</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-12">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <input type="password" id="Password" name="Password" class="form-control" required maxlength="@StudioXUserBase.MaxPlainPasswordLength">
                                            <label class="form-label">@L("Password")</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-12">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <input type="password" id="ConfirmPassword" name="ConfirmPassword" class="form-control" required maxlength="@StudioXUserBase.MaxPlainPasswordLength">
                                            <label class="form-label">@L("ConfirmPassword")</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-12">
                                    <div class="checkbox">
                                        <input type="checkbox" name="IsActive" value="true" id="CreateUserIsActive" class="filled-in" checked />
                                        <label for="CreateUserIsActive">@L("IsActive")</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane animated fadeIn" id="create-user-roles">
                            <div class="row">
                                <div class="col-sm-12 ">
                                    @foreach (var role in Model.Roles)
                                    {
                                        <div class="col-sm-6">
                                            <input type="checkbox" name="role" value="@role.NormalizedName" title="@role.Description"  class="form-control" id="role-@role.Id" />
                                            <label for="role-@role.Id" title="@role.DisplayName">@role.Name</label>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">@L("Cancel")</button>
                        <button type="submit" class="btn btn-primary waves-effect">@L("Save")</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
